<ul style="list-style: none;" xmlns:input="http://www.w3.org/1999/html">
    <li class="inline field" placeholder="Enter batches">
        <div class="ui right pointing label">
            batches
        </div>
        <input type="text" id="batches" name="batches" size="3">
    </li>
    <!--class option has children and subOption does not-->
    <li class="ui checkbox" class="option">
        <input type="checkbox" id="cancer_pipeline" name="cancer_pipeline" class="option">
        <label>cancer_pipeline</label>
        <ul class="nested">
            <li class="ui checkbox">
                <input type="checkbox" id="cancer_pipeline$enable_fingerprintCollector" name="cancer_pipeline$enable_fingerprintCollector" class="subOption">
                <label>fingerprintCollector</label>
            </li>
            <br>
            <li class="ui checkbox">
                <input type="checkbox" id="cancer_pipeline$enable_xenoclassify" name="cancer_pipeline$enable_xenoclassify" class="subOption">
                <label>xenoclassify</label>
            </li>
            <br>
            <li class="ui checkbox">
                <input type="checkbox" id="cancer_pipeline$fulldepth_analysis" name="cancer_pipeline$fulldepth_analysis" class="option">
                <label>fulldepth_analysis</label>
                <ul class="nested">
                    <li class="ui checkbox">
                        <input type="checkbox" id="fulldepth_analysis$delly_pipeline" name="fulldepth_analysis$delly_pipeline" class="option">
                        <label>delly_pipeline</label>
                        <ul class="nested">
                            <li class="ui checkbox">
                                <input type="checkbox" id="delly_pipeline$enable_tumor_only" name="delly_pipeline$enable_tumor_only" class="subOption">
                                <label>enable_tumor_only</label>
                            </li>
                        </ul>
                    </li>
                    <br>
                    <li class="ui checkbox">
                        <input type="checkbox" id="fulldepth_analysis$enable_arriba" name="fulldepth_analysis$enable_arriba" class="subOption">
                        <label>enable_arriba</label>
                    </li>
                    <br>
                    <li class="ui child checkbox">
                        <input type="checkbox" id="fulldepth_analysis$enable_hmmcopy" name="fulldepth_analysis$enable_hmmcopy" class="subOption">
                        <label>enable_hmmcopy</label>
                    </li>
                    <br>
                    <li class="ui checkbox">
                        <input type="checkbox" id="fulldepth_analysis$enable_manta" name="fulldepth_analysis$enable_manta" class="subOption">
                        <label>enable_manta</label>
                    </li>
                    <br>
                    <li class="ui checkbox">
                        <input type="checkbox" id="fulldepth_analysis$enable_msisensor" name="fulldepth_analysis$enable_msisensor" class="subOption">
                        <label>enable_msisensor</label>
                    </li>
                    <br>
                    <li class="ui checkbox">
                        <input type="checkbox" id="fulldepth_analysis$enable_mutect" name="fulldepth_analysis$enable_mutect" class="subOption">
                        <label>enable_mutect</label>
                    </li>
                    <br>
                    <li class="ui checkbox">
                        <input type="checkbox" id="fulldepth_analysis$enable_novoBreak" name="fulldepth_analysis$enable_novoBreak" class="subOption">
                        <label>enable_novoBreak</label>
                    </li>
                    <br>
                    <li class="ui checkbox">
                        <input type="checkbox" id="fulldepth_analysis$enable_rsem" name="fulldepth_analysis$enable_rsem" class="subOption">
                        <label>enable_rsem</label>
                    </li>
                    <br>
                    <li class="ui checkbox">
                        <input type="checkbox" id="fulldepth_analysis$enable_starfusion" name="fulldepth_analysis$enable_starfusion" class="subOption">
                        <label>enable_starfusion</label>
                    </li>
                    <br>
                    <li class="ui checkbox">
                        <input type="checkbox" id="fulldepth_analysis$enable_strelka" name="fulldepth_analysis$enable_strelka" class="subOption">
                        <label>enable_strelka</label>
                    </li>
                    <br>
                    <li class="ui checkbox">
                        <input type="checkbox" id="fulldepth_analysis$freec_pipeline" name="fulldepth_analysis$freec_pipeline" class="option">
                        <label>freec_pipeline</label>
                        <ul class="nested">
                            <li class="ui checkbox">
                                <input type="checkbox" id="freec_pipeline$enable_tumor_only" name="freec_pipeline$enable_tumor_only" class="subOption">
                                <label>enable_tumor_only</label>
                            </li>
                        </ul>
                    </li>
                    <br>
                    <li class="ui checkbox">
                        <input type="checkbox" id="fulldepth_analysis$haplotypeCaller_pipeline" name="fulldepth_analysis$haplotypeCaller_pipeline" class="option">
                        <label>haplotypeCaller_pipeline</label>
                        <ul class="nested">
                            <li class="ui checkbox">
                                <input type="checkbox" id="haplotypeCaller_pipeline$enable_genotypeGVCFs" name="haplotypeCaller_pipeline$enable_genotypeGVCFs" class="subOption">
                                <label>enable_genotypeGVCFs</label>
                            </li>
                        </ul>
                    </li>
                    <br>
                    <li class="ui checkbox">
                        <input type="checkbox" id="fulldepth_analysis$mutect2_pipeline" name="fulldepth_analysis$mutect2_pipeline" class="option">
                        <label>mutect2_pipeline</label>
                        <ul class="nested" style="list-style: none;">
                            <li class="ui checkbox">
                                <input type="checkbox" id="mutect2_pipeline$enable_tumor_only" name="mutect2_pipeline$enable_tumor_only" class="subOption">
                                <label>enable_tumor_only</label>
                            </li>
                            <br>
                            <li class="ui checkbox">
                                <input type="checkbox" id="mutect2_pipeline$enable_variantEffectPredictor"
                                       name="mutect2_pipeline$enable_variantEffectPredictor" class="subOption">
                                <label>enable_variantEffectPredictor</label>
                            </li>
                            <li class="inline field">
                                <div class="ui right pointing label">
                                    gatk_for_mutect2
                                </div>
                                <input type="text" id="mutect2_pipeline$gatk_for_mutect2" name="mutect2_pipeline$gatk_for_mutect2" size="8" placeholder="gatk/4.1.7.0">
                            </li>
                        </ul>
                    </li>
                    <br>
                    <li class="ui checkbox">
                        <input type="checkbox" id="fulldepth_analysis$varscan_pipeline" name="fulldepth_analysis$varscan_pipeline" class="option">
                        <label>varscan_pipeline</label>
                        <ul class="nested">
                            <li class="ui checkbox">
                                <input type="checkbox" id="varscan_pipeline$enable_sequenza" name="varscan_pipeline$enable_sequenza" class="subOption">
                                <label>enable_sequenza</label>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <br>
            <li class="ui checkbox">
                <input type="checkbox" id="cancer_pipeline$swgs_sequencer" name="cancer_pipeline$swgs_sequencer" class="option">
                <label>swgs_sequencer</label>
                <ul class="nested" style="list-style: none;">
                    <li class="inline field">
                        <div class="ui right pointing label">
                            contents
                        </div>
                        <input type="text" id="swgs_sequencer$contents" size="8" name="swgs_sequencer$contents" placeholder="null">
                    </li>
                    <li>
                      <div class="ui right pointing label">
                        type
                      </div>
                      <div class="ui dropdown" id="swgs_sequencer-type_selector">
                         <div class="default text" id="swgs_sequencer$type">NONE</div>
                         <input type="hidden" id="hidden_swgs_sequencer$type" name="swgs_sequencer$type">
                         <i class="dropdown icon"></i>
                         <div class="menu">
                           <div class="item" data-value="NONE">NONE</div>
                           <div class="item" data-value="MISEQ_ONLY">MISEQ_ONLY</div>
                           <div class="item" data-value="ALL">ALL</div>
                           <div class="item" data-value="SELECTED_MODELS">SELECTED_MODELS</div>
                         </div>
                      </div>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <br>
    <li class="ui checkbox">
        <input type="checkbox" id="covid_pipeline" name="covid_pipeline" class="option">
        <label>covid_pipeline</label>
        <ul class="nested" style="list-style: none;">
            <li class="ui checkbox">
                <input type="checkbox" id="covid_pipeline$enable_sars_cov" name="covid_pipeline$enable_sars_cov" class="subOption">
                <label>enable_sars_cov</label>
            </li>
            <br>
            <li class="ui checkbox">
                <input type="checkbox" id="covid_pipeline$linkout_to_simpsonlab" name="covid_pipeline$linkout_to_simpsonlab" class="option">
                <label>linkout_to_simpsonlab</label>
            </li>
            <ul class="nested" style="list-style: none;">
                <li class="inline field">
                    <div class="ui right pointing label">
                        contents
                    </div>
                    <input type="text" id="linkout_to_simpsonlab$contents" size="8" name="linkout_to_simpsonlab$contents" placeholder="null">
                </li>
                <li class="inline field">
                    <div class="ui right pointing label">
                        type
                    </div>
                    <div class="ui dropdown" id="linkout_to_simpsonlab-type_selector">
                       <input type="hidden" id="hidden_linkout_to_simpsonlab$type" name="linkout_to_simpsonlab$type">
                       <i class="dropdown icon"></i>
                       <div class="default text" id="linkout_to_simpsonlab$type">SKIP</div>
                       <div class="menu">
                         <div class="item" data-value="LINK_WITH_DONOR_ID">LINK_WITH_DONOR_ID</div>
                         <div class="item" data-value="LINK_WITH_OICR_ID">LINK_WITH_OICR_ID</div>
                         <div class="item" data-value="SKIP">SKIP</div>
                       </div>
                    </div>
                </li>
            </ul>
        </ul>
    </li>
    <br>
    <li class="ui checkbox">
        <input type="checkbox" id="immune_pipeline" name="immune_pipeline" class="option">
        <label>immune_pipeline</label>
        <ul class="nested">
            <li class="ui checkbox">
                <input type="checkbox" id="immune_pipeline$enable_hlaminer" name="immune_pipeline$enable_hlaminer" class="subOption">
                <label>enable_hlaminer</label>
            </li>
            <br>
            <li class="ui checkbox">
                <input type="checkbox" id="immune_pipeline$enable_mixcr" name="immune_pipeline$enable_mixcr" class="subOption">
                <label>enable_mixcr</label>
            </li>
            <br>
            <li class="ui checkbox">
                <input type="checkbox" id="immune_pipeline$enable_trust4" name="immune_pipeline$enable_trust4" class="subOption">
                <label>enable_trust4</label>
            </li>
        </ul>
    </li>
    <li class="inline field">
        <div class="ui right pointing label">
            lab_priority
        </div>
        <input type="text" id="lab_priority" name="lab_priority" size="2" placeholder="0">
    </li>
    <li class="ui right labeled input" style="width: 150px">
        <input type="text" id="reference_assembly" name="reference_assembly" placeholder="hg38" style="resize: none;">
        <div class="ui dropdown label" id="reference_for_species_selector">
            <div class="text" id="reference_for_species">HOMO_SAPIENS</div>
            <input type="hidden" id="hidden_reference_for_species" name="reference_for_species">
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="item" name="HOMO SAPIENS">HOMO SAPIENS</div>
                <div class="item" name="MUS MUSCULUS">MUS MUSCULUS</div>
                <div class="item" name="ARABIDOPSIS THALIANA">ARABIDOPSIS THALIANA</div>
                <div class="item" name="GASTEROSTEUS ACULEATUS">GASTEROSTEUS ACULEATUS</div>
                <div class="item" name="LEPUS AMERICANUS">LEPUS AMERICANUS</div>
                <div class="item" name="SCHIZOSACCHAROMYCES POMBE">SCHIZOSACCHAROMYCES POMBE</div>
            </div>
        </div>
    </li>
</ul>    
